/* ========================================================================== Normalize.scss settings ========================================================================== */
/** Includes legacy browser support IE6/7  Set to false if you want to drop support for IE6 and IE7 */
/* Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. */
/* line 23, ../sass/partials/_normalize.scss */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
/* line 36, ../sass/partials/_normalize.scss */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
/* line 50, ../sass/partials/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
/* line 71, ../sass/partials/_normalize.scss */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
/* line 88, ../sass/partials/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
/* line 98, ../sass/partials/_normalize.scss */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
/* line 110, ../sass/partials/_normalize.scss */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
/* line 120, ../sass/partials/_normalize.scss */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
/* line 132, ../sass/partials/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
/* line 140, ../sass/partials/_normalize.scss */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
/* line 155, ../sass/partials/_normalize.scss */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
/* line 164, ../sass/partials/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Addresses styling not present in IE 8/9. */
/* line 200, ../sass/partials/_normalize.scss */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
/* line 239, ../sass/partials/_normalize.scss */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 247, ../sass/partials/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 255, ../sass/partials/_normalize.scss */
sup { top: -0.5em; }

/* line 259, ../sass/partials/_normalize.scss */
sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 8/9/10. 2. Improves image quality when scaled in IE 7. */
/* line 314, ../sass/partials/_normalize.scss */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
/* line 325, ../sass/partials/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
/* line 336, ../sass/partials/_normalize.scss */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
/* line 344, ../sass/partials/_normalize.scss */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
/* line 353, ../sass/partials/_normalize.scss */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
/* line 362, ../sass/partials/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. 4. Improves appearance and consistency in all browsers. */
/* line 389, ../sass/partials/_normalize.scss */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
/* line 407, ../sass/partials/_normalize.scss */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
/* line 418, ../sass/partials/_normalize.scss */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
/* line 433, ../sass/partials/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
/* line 448, ../sass/partials/_normalize.scss */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
/* line 457, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
/* line 468, ../sass/partials/_normalize.scss */
input { line-height: normal; }

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. Known issue: excess padding remains in IE 6. */
/* line 478, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
/* line 494, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
/* line 504, ../sass/partials/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
/* line 515, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
/* line 524, ../sass/partials/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Corrects text not wrapping in Firefox 3. 4. Corrects alignment displayed oddly in IE 6/7. */
/* line 537, ../sass/partials/_normalize.scss */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
/* line 550, ../sass/partials/_normalize.scss */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
/* line 559, ../sass/partials/_normalize.scss */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
/* line 570, ../sass/partials/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 575, ../sass/partials/_normalize.scss */
td, th { padding: 0; }

/* line 1, ../sass/partials/_mixins.scss */
.flex-l, .flex-r, .flex-c { *zoom: 1; }
/* line 3, ../sass/partials/_mixins.scss */
.flex-l:before, .flex-r:before, .flex-c:before, .flex-l:after, .flex-r:after, .flex-c:after { content: " "; display: table; }
/* line 5, ../sass/partials/_mixins.scss */
.flex-l:after, .flex-r:after, .flex-c:after { clear: both; }

@keyframes type { from { width: 0; } }
@keyframes type2 { 0% { width: 0; }
  50% { width: 0; }
  100% { width: 100; } }
@keyframes blink { to { opacity: .0; } }
/* line 1, ../sass/partials/_base.scss */
* { box-sizing: border-box; }

/* line 5, ../sass/partials/_base.scss */
body { margin: 0 auto; padding: 0; width: 100%; }

/*===Simply flexbox with other side of wrap===*/
/* line 2, ../sass/partials/_layout.scss */
.flex-l { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: flex-start; -ms-flex-pack: flex-start; justify-content: flex-start; max-width: 90%; }

/* line 6, ../sass/partials/_layout.scss */
.flex-r { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: flex-end; -ms-flex-pack: flex-end; justify-content: flex-end; max-width: 90%; }

/* line 10, ../sass/partials/_layout.scss */
.flex-c { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; max-width: 90%; margin: 0 auto; }

/*=== column ===*/
/* line 16, ../sass/partials/_layout.scss */
.col-a { margin: 0.2em; padding: 0.2em; border: none; -webkit-flex-basis: auto; -ms-flex-preferred-size: auto; flex-basis: auto; max-width: 600px; }

/* line 21, ../sass/partials/_layout.scss */
.col-test { margin: 0.2em; padding: 0.2em; border: none; -webkit-flex-basis: auto; -ms-flex-preferred-size: auto; flex-basis: auto; }

/* line 25, ../sass/partials/_layout.scss */
.col-flex { margin: 0.2em; padding: 0.2em; border: none; -webkit-flex-basis: auto; -ms-flex-preferred-size: auto; flex-basis: auto; flex: 1; }

/* line 1, ../sass/partials/_timeline.scss */
.agenda { height: auto; }

/* line 5, ../sass/partials/_timeline.scss */
.timeline { position: relative; width: 660px; margin: 0 auto; margin-top: 20px; padding: 1em 0; list-style-type: none; }

/* line 14, ../sass/partials/_timeline.scss */
.timeline:before { position: absolute; left: 50%; top: 0; content: ' '; display: block; width: 6px; height: 130%; margin-left: -3px; background: #505050; background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8)); background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%); background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%); background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%); background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%); z-index: -2; margin-top: -150px; }

/* line 35, ../sass/partials/_timeline.scss */
.timeline li { padding: 1em 0; }

/* line 39, ../sass/partials/_timeline.scss */
.timeline li:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

/* line 47, ../sass/partials/_timeline.scss */
.direction-l { position: relative; width: 300px; float: left; text-align: right; }

/* line 54, ../sass/partials/_timeline.scss */
.direction-r { position: relative; width: 300px; float: right; }

/* line 60, ../sass/partials/_timeline.scss */
.flag-wrapper { position: relative; display: inline-block; text-align: center; }

/* line 67, ../sass/partials/_timeline.scss */
.flag { position: relative; display: inline; background: #f8f8f8; padding: 6px 10px; border-radius: 5px; font-weight: 600; text-align: left; }

/* line 78, ../sass/partials/_timeline.scss */
.direction-l .flag { -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

/* line 84, ../sass/partials/_timeline.scss */
.direction-r .flag { -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

/* line 90, ../sass/partials/_timeline.scss */
.direction-l .flag:before, .direction-r .flag:before { position: absolute; top: 50%; right: -40px; content: ' '; display: block; width: 12px; height: 12px; margin-top: -10px; background: #fff; border-radius: 10px; border: 4px solid #ff5050; z-index: 10; }

/* line 106, ../sass/partials/_timeline.scss */
.direction-r .flag:before { left: -40px; }

/* line 110, ../sass/partials/_timeline.scss */
.direction-l .flag:after { content: ""; position: absolute; left: 100%; top: 50%; height: 0; width: 0; margin-top: -8px; border: solid transparent; border-left-color: #f8f8f8; border-width: 8px; pointer-events: none; }

/* line 124, ../sass/partials/_timeline.scss */
.direction-r .flag:after { content: ""; position: absolute; right: 100%; top: 50%; height: 0; width: 0; margin-top: -8px; border: solid transparent; border-right-color: #f8f8f8; border-width: 8px; pointer-events: none; }

/* line 138, ../sass/partials/_timeline.scss */
.time-wrapper { display: inline; line-height: 1em; font-size: 0.66666em; color: #fa5050; vertical-align: middle; }

/* line 147, ../sass/partials/_timeline.scss */
.direction-l .time-wrapper { float: left; }

/* line 151, ../sass/partials/_timeline.scss */
.direction-r .time-wrapper { float: right; }

/* line 155, ../sass/partials/_timeline.scss */
.time { display: inline-block; padding: 4px 6px; background: #f8f8f8; }

/* line 161, ../sass/partials/_timeline.scss */
.desc { margin: 1em 0.75em 0 0; font-size: 0.77777em; font-style: italic; line-height: 1.5em; }

/* line 169, ../sass/partials/_timeline.scss */
.direction-r .desc { margin: 1em 0 0 0.75em; }

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) { /* line 177, ../sass/partials/_timeline.scss */
  .timeline { width: 100%; padding: 4em 0 1em 0; }
  /* line 182, ../sass/partials/_timeline.scss */
  .timeline li { padding: 2em 0; }
  /* line 186, ../sass/partials/_timeline.scss */
  .direction-l, .direction-r { float: none; width: 100%; text-align: center; }
  /* line 194, ../sass/partials/_timeline.scss */
  .flag-wrapper { text-align: center; }
  /* line 198, ../sass/partials/_timeline.scss */
  .flag { background: white; z-index: 15; }
  /* line 203, ../sass/partials/_timeline.scss */
  .direction-l .flag:before, .direction-r .flag:before { position: absolute; top: -30px; left: 50%; content: ' '; display: block; width: 12px; height: 12px; margin-left: -9px; background: #fff; border-radius: 10px; border: 4px solid #ff5050; z-index: 10; }
  /* line 219, ../sass/partials/_timeline.scss */
  .direction-l .flag:after, .direction-r .flag:after { content: ""; position: absolute; left: 50%; top: -8px; height: 0; width: 0; margin-left: -8px; border: solid transparent; border-bottom-color: white; border-width: 8px; pointer-events: none; }
  /* line 234, ../sass/partials/_timeline.scss */
  .time-wrapper { display: block; position: relative; margin: 4px 0 0 0; z-index: 14; }
  /* line 241, ../sass/partials/_timeline.scss */
  .direction-l .time-wrapper { float: none; }
  /* line 245, ../sass/partials/_timeline.scss */
  .direction-r .time-wrapper { float: none; }
  /* line 249, ../sass/partials/_timeline.scss */
  .desc { position: relative; margin: 1em 0 0 0; padding: 1em; background: whitesmoke; -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); z-index: 15; }
  /* line 261, ../sass/partials/_timeline.scss */
  .direction-l .desc, .direction-r .desc { position: relative; margin: 1em 1em 0 1em; padding: 1em; z-index: 15; } }
@media screen and (min-width: 400px) and (max-width: 660px) { /* line 274, ../sass/partials/_timeline.scss */
  .direction-l .desc, .direction-r .desc { margin: 1em 4em 0 4em; } }
/* line 9, ../sass/style.scss */
header { height: 680px; background: url(../img/warsaw.jpg) no-repeat center; background-size: cover; background-attachment: fixed; margin: 0; padding: 0; }
/* line 16, ../sass/style.scss */
header:before { content: ''; height: 680px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: linear-gradient(to bottom right, #002f4b, #dc4225); opacity: .6; }
/* line 27, ../sass/style.scss */
header .title { position: relative; color: #fff; margin: 0 auto; padding-top: 200px; font-size: 1.5em; }
/* line 33, ../sass/style.scss */
header .title h1 { font-family: 'Press Start 2P', cursive; font-weight: 600; text-transform: uppercase; white-space: nowrap; overflow: hidden; width: 500px; margin: 0 auto; text-align: center; animation: type 2s steps(60, end); }
/* line 44, ../sass/style.scss */
header .title h1:nth-child(2) { animation: type2 4s steps(60, end); }
/* line 48, ../sass/style.scss */
header .title h1 span { animation: blink 1s infinite; }

/* line 54, ../sass/style.scss */
.navbar { position: fixed; top: 0px; max-height: 60px; z-index: 999; width: 100%; padding-top: 17px; background: none; overflow: hidden; -webkit-transition: all 0.3s; transition: all 0.3s; opacity: 1; top: 0; padding-bottom: 6px; }

@media (max-width: 768px) { /* line 70, ../sass/style.scss */
  .navbar { padding-top: 25px; } }
/* line 74, ../sass/style.scss */
.open-nav { max-height: 400px; background-color: #dc4225; opacity: .8; }
/* line 78, ../sass/style.scss */
.open-nav .mobile-toggle { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }

/* line 83, ../sass/style.scss */
.sticky { background-color: #dc4225; opacity: .8; padding-top: 5px; }
@media (max-width: 768px) { /* line 83, ../sass/style.scss */
  .sticky { padding-top: 17px; } }

/* line 99, ../sass/style.scss */
nav { float: right; width: 100%; }
/* line 102, ../sass/style.scss */
nav ul { list-style: none; overflow: hidden; text-align: center; float: right; }
/* line 107, ../sass/style.scss */
nav ul li { display: inline-block; margin-left: 35px; line-height: 1.5; }
/* line 112, ../sass/style.scss */
nav ul a { color: #FFFFFF; text-transform: uppercase; font-size: 12px; transition: all 0.3s ease-out; border-bottom: none; text-decoration: none; }
/* line 119, ../sass/style.scss */
nav ul a:hover { color: #fce38a; }

@media (max-width: 768px) { /* line 127, ../sass/style.scss */
  nav { width: 100%; } }
@media (max-width: 768px) { /* line 133, ../sass/style.scss */
  nav ul { padding-top: 40px; margin-bottom: 22px; float: left; text-align: center; width: 100%; } }
@media (max-width: 768px) { /* line 143, ../sass/style.scss */
  nav ul li { width: 100%; padding: 7px 0; margin: 0; } }
/* line 150, ../sass/style.scss */
.mobile-toggle { display: none; cursor: pointer; font-size: 20px; position: absolute; right: 22px; top: 0; width: 30px; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; transition: all 200ms ease-in; }
/* line 161, ../sass/style.scss */
.mobile-toggle span { width: 30px; height: 4px; margin-bottom: 6px; border-radius: 1000px; background: #fff; display: block; }

@media (max-width: 768px) { /* line 172, ../sass/style.scss */
  .mobile-toggle { display: block; } }
/* line 177, ../sass/style.scss */
.main-menu { width: 100%; max-width: 1200px; margin: 0 auto; position: relative; padding: 0 2%; }

/* line 186, ../sass/style.scss */
.logo-small { width: 80px; height: 50px; background-image: url(../img/poztransp.png); background-repeat: no-repeat; background-position: center center; background-size: 100%; float: left; }

/* line 200, ../sass/style.scss */
.intro { margin: 0 auto; text-align: center; }
/* line 203, ../sass/style.scss */
.intro .flex-c { -webkit-align-items: flex-start; -ms-flex-align: flex-start; align-items: flex-start; }
/* line 208, ../sass/style.scss */
.intro .col-intro { margin: .3em; padding: .3em; flex: 2; }
@media (max-width: 768px) { /* line 208, ../sass/style.scss */
  .intro .col-intro { flex: 100%; } }
/* line 215, ../sass/style.scss */
.intro .col-intro img { max-width: 100%; }

/* line 222, ../sass/style.scss */
.intro .title { position: relative; color: #000; margin: 0 auto; padding: 50px 0 50px 0; font-size: 1.5em; }
/* line 228, ../sass/style.scss */
.intro .title h3 { margin: 0 auto; font-family: 'Press Start 2P', cursive; font-weight: 600; text-transform: uppercase; white-space: nowrap; overflow: hidden; width: 300px; animation: type 2s steps(60, end); }
/* line 237, ../sass/style.scss */
.intro .title h3 span { animation: blink 1s infinite; }

/* line 246, ../sass/style.scss */
.info { height: 480px; background: url(../img/daty.jpg) no-repeat center; background-size: cover; background-attachment: fixed; position: relative; margin: 0 auto; text-align: center; margin: 0 auto; }
/* line 255, ../sass/style.scss */
.info:before { content: ''; height: 480px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: linear-gradient(to bottom right, #002f4b, #dc4225); opacity: .6; }
/* line 266, ../sass/style.scss */
.info .title { position: relative; color: #fff; margin: 0 auto; padding-top: 200px; font-size: 1.5em; }
/* line 272, ../sass/style.scss */
.info .title h3 { margin: 0 auto; font-family: 'Press Start 2P', cursive; font-weight: 600; text-transform: uppercase; white-space: nowrap; overflow: hidden; width: 300px; animation: type 2s steps(60, end); }
/* line 281, ../sass/style.scss */
.info .title h3 span { animation: blink 1s infinite; }

/* line 292, ../sass/style.scss */
.registration { height: 480px; background: url(../img/rejestr.jpg) no-repeat center; background-size: cover; background-attachment: fixed; position: relative; margin: 0 auto; text-align: center; }
/* line 300, ../sass/style.scss */
.registration:before { content: ''; height: 480px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: linear-gradient(to bottom right, #002f4b, #dc4225); opacity: .6; }
/* line 311, ../sass/style.scss */
.registration .title { position: relative; color: #fff; padding-top: 200px; font-size: 1.5em; }
/* line 316, ../sass/style.scss */
.registration .title h3 { margin: 0 auto; font-family: 'Press Start 2P', cursive; font-weight: 600; text-transform: uppercase; white-space: nowrap; overflow: hidden; width: 330px; animation: type 2s steps(60, end); }
/* line 325, ../sass/style.scss */
.registration .title h3 span { animation: blink 1s infinite; }

/* line 334, ../sass/style.scss */
.tutorials { margin: 0 auto; text-align: center; }
/* line 337, ../sass/style.scss */
.tutorials .title { position: relative; color: #000; margin: 0 auto; padding: 50px 0 50px 0; font-size: 1.5em; }
/* line 343, ../sass/style.scss */
.tutorials .title h3 { margin: 0 auto; font-family: 'Press Start 2P', cursive; font-weight: 600; text-transform: uppercase; white-space: nowrap; overflow: hidden; width: 300px; animation: type 2s steps(60, end); }
/* line 352, ../sass/style.scss */
.tutorials .title h3 span { animation: blink 1s infinite; }
/* line 357, ../sass/style.scss */
.tutorials .col-t { margin: .5em; padding: 3em; background: url(../img/tuto.png) no-repeat top; }

/* line 369, ../sass/style.scss */
footer .author { padding: 15px; }
/* line 371, ../sass/style.scss */
footer .author a { text-decoration: none; color: #000; }
