
$phone: "(max-width: 768px)";
$tablet: "(max-width: 992px)";
$desktop: "(max-width: 1200px)";
$phoneVertic: "(max-height: 510px)";
$custom: "(min-width: 1260px)";
$customD: "(max-width: 1024px)";

$titile-on-bg: #fff;
$another-title: #000;
$text1: #000;
$accent-color: #dc4225;